.profile {
    width: 100%;
    height: calc(100vh - 74px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .profile__info {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }
  
  .profile__heading {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 70px 0px 64px;
  }
  
  .profile__unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
  }
  
  .profile__key {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 3px;
  }
  
  .profile__value {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    border: none;
    padding: 3px;
    border-bottom: 1px #000;
    text-align: end;
    min-height: 13px;
  }
  
  .profile__value:focus {
    outline: none;
    border-bottom: 1px #2be080;
  }
  
  .profile__line {
    width: 100%;
    border: none;
    border-top: 1px solid #e8e8e8;
    margin: 0;
  }
  
  .profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .profile__button {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border: 0;
    background-color: transparent;
    padding: 8px;
  }
  
  .profile__button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  
  .profile__button_quit {
    color: #ee3465;
    font-weight: 500;
  }
  
  .profile__button:focus {
    outline: none;
  }
  
  .profile__error {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    text-align: right;
  }
  
  .profile__saved {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #888;
    text-align: center;
  }

  @media screen and (min-width: 320px) {
    .profile__info {
     max-width: 260px;
    }

    .profile__buttons {
      max-width: 260px;
      margin: 379px 30px 0px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .profile__info {
      margin: 0 179px;
      max-width: 410px;
    }
  
    .profile__heading {
      margin: 236px 0 80px;
    }
  
    .profile__buttons {
      margin: 210px 179px 260px;
      max-width: 410px;
    }
  
    .profile__button {
      font-size: 13px;
      line-height: 16px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .profile__info {
      margin: 0 435px;
    }
    .profile__heading {
      margin: 74px 0 107px;
    }
  
    .profile__buttons {
      margin: 210px 435px 62px;
    }
  }