.promo {
    margin: 14px;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .promo__heading {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: calc(((100vh - 105px) / 2) - 74px);
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 29px;
    line-height: 37px;
    color: #000;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .promo {
      height: 834px;
      margin: 20px 20px 0;
    }
  
    .promo__heading {
      font-size: 40px;
      line-height: 52px;
      padding-top: 350px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .promo {
      height: 493px;
      margin: 20px 40px 0;
    }
  
    .promo__heading {
      font-size: 50px;
      line-height: 58px;
      padding-top: 160px;
      max-width: 730px;
    }
  }