.search-form {
    box-sizing: border-box;
   padding: 0;
   margin:0;
  }
  
  .search-form__search {
    margin: 0;
    padding-bottom: 69px;
    display: flex;
    flex-direction: row;
    min-width: 1140px;
    min-height: 72px;
    align-items: center;
    position: relative;
    border: none;
    justify-content: space-between;
  }
  
  .search-form__input {
    background-color: #f9f9f9;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 16px;
    width:1140px;
    vertical-align: center;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    position: relative;
    /* margin-bottom: 69px; */
    align-items: center;

  }
  
  
  .search-form__input::placeholder {
    color: #a0a0a0;
  }
  
  .search-form__input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px #E5E5E5;
  }
  
  .search-form__button {
    position: absolute;
    background-color: #2be080;
    color: #fff;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 257px;
  }

  .search-btn__arrow {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #2be080;
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  .search-form__button:hover {
    opacity: 0.6;
  }
  
  .search-form__button:focus {
    outline: none;
  }
  
  .search-form__line {
    border: none;
    border-top: 1px solid #e8e8e8;
    width: 1140px;
    margin: 0 auto;
  }

  .search-form__shortline {
    position:absolute;
    transform: rotate(180deg);
    background: #E8E8E8;
    height: 40px;
    right: 226px;
  }
  
  .search-form__error {
    margin: 0 0 0 22px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
  }
  
  @media screen and (min-width: 768px) {
    .search-form {
      padding: 0;
    }
  
    .search-form__input {
      height: 72px;
      padding: 15px 22px;
      font-size: 14px;
      width: 1140px;
    }
  
    .search-form__button {
      margin-top: 2px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .search-form {
      padding: 0px 70px;
    }
  }
  
  .filter-checkbox {
    position: absolute;
    width: 148px;
    height: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    right: 30px;
  }

  .filter-checkbox__default {
    display: none;
  }
  
  .filter-checkbox__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #ebebeb;
    transition: 0.4s;
    display: block;
  }
  
  .filter-checkbox__slider:before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 4px;
    left: 6px;
    top: 6px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .filter-checkbox__default:checked ~ .filter-checkbox__slider {
    background-color: #2be080;
  }
  
  .filter-checkbox__default:checked ~ .filter-checkbox__slider:before {
    transform: translateX(16px);
  }
  
  .filter-checkbox__label {
    position: absolute;
    left: 49px;
    top: 1px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
  
  @media screen and (min-width: 768px) {
    .filter-checkbox__label {
      font-size: 12px;
    }
  }