.techs {
    padding: 0 18px;
    background-color: #fff;
  }
  
  .techs__heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000;
    margin: 60px 0 0;
    text-align: center;
  }
  
  .techs__article {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #000;
    margin: 24px auto 0;
    text-align: center;
  }
  
  .techs__tags {
    padding: 50px 10px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 84px);
    gap: 10px 10px;
    justify-content: center;
    justify-items: center;
  }
  
  .techs__tag {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    width: 84px;
    height: 57px;
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  @media screen and (min-width: 320px) {
    .techs__article {
      font-size: 11px;
      line-height: 16px;
      max-width: 292px;
    }

  }
  
  @media screen and (min-width: 768px) {
    .techs {
      padding: 0 50px;
      background-color: #f5f5f5;
    }
  
    .techs__heading {
      font-size: 50px;
      line-height: 58px;
      margin: 80px 0 0;
    }
  
    .techs__article {
      font-size: 12px;
      line-height: 18px;
      max-width: 460px;
    }
  
    .techs__tags {
      padding: 83px 10px 90px;
      grid-template-columns: repeat(auto-fit, 90px);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .techs__article {
      font-size: 14px;
      line-height: 20px;
      max-width: 460px;
    }
  
    .techs__tags {
      padding: 100px 10px 100px;
    }
  
    .techs__tag {
      font-size: 14px;
      line-height: 17px;
      width: 90px;
      height: 60px;
    }
  }