.navtab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 17px 14px;
  }
  
  .navtab__link {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    color: #000;
    text-align: center;
    background-color: #e8e8e8;
    border-radius: 6px;
    width: 82px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
  }
  
  .navtab__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    .navtab {
      margin: 30px 25px;
    }
  
    .navtab__link {
      font-size: 12px;
      width: 96px;
      height: 36px;
      margin: 0 5px;
    }
  }
  
